{% extends "base.html" %}

{% block title %}Employee Login - MyBank{% endblock %}

{% block content %}
    <h1 class="text-center">Employee Login</h1>
    <form method="POST" action="{{ url_for('employee.login') }}">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

{% endblock %}