{% extends "base.html" %}
{% block title %}Review Transaction - MyBank{% endblock %}
{% block content %}

    <h2>Transactions for {{ customer.username }}</h2>
    <h5>Use this page to view and audit customer's transactions</h5>
    <p><strong>Account Number:</strong> {{ customer.account_number }}, <strong>Balance:</strong>
        ${{ "%.2f"|format(customer.balance) }}</p>
    {% if transactions %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for tx in transactions %}
                    <tr>
                        <td>{{ tx.id }}</td>
                        <td>
                            {% if tx.sender_id == customer.id %}
                                Sent
                            {% else %}
                                Received
                            {% endif %}
                        </td>
                        <td>${{ "%.2f"|format(tx.amount) }}</td>
                        <td>{{ tx.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No transactions found for this customer.</p>
    {% endif %}
    <a href="{{ url_for('employee.dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>

{% endblock %}