{% extends "base.html" %}

{% block title %}Inbox - MyBank{% endblock %}

{% block content %}
    <h1 class="text-center">Inbox</h1>
    {% if messages %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>From</th>
                    <th>Content</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for msg in messages %}
                    <tr>
                        <td>{{ msg.id }}</td>
                        <td>{{ msg.sender_info }}</td>
                        <td>{{ msg.decrypted_content }}</td>
                        <td>{{ msg.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No messages in your inbox.</p>
    {% endif %}
    <div class="text-center mt-3">
        <a href="{{ url_for('message.send_message') }}" class="btn btn-primary">Send New Message</a>
        <a href="{{ url_for('message.outbox') }}" class="btn btn-secondary">View Outbox</a>
    </div>
{% endblock %}